@font-face {
  font-family: 'Avenir Next DemiBold';
  src: url('/AvenirNext-DemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  src: url('/AvenirNext-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Avenir Next";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}